#Configuration for custom widget

<Connectivity>
 ConnectionType {{ connectionType }}
</Connectivity>

<Account Information>
 Username {{ userName }}
 Password {{ userPassword }}
</Account Information>

<System Information>
 System Distribution {{ ansible_os_family }}
</System Information>
